@charset "utf-8";

/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');
a {
    text-decoration: none;
}

img {
    border: none;
}

a,
button {
    outline: none;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    background: none;
    border: none;
}

a,
button,
input,
i,
textarea {
    -webkit-appearance: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a,
input,
textarea,
button,
i {
    display: block;
}
@font-face {
    font-family: 'Monotype Corsiva';
    src: url('../fonts/MonotypeCorsiva.eot');
    src: url('../fonts/MonotypeCorsiva.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MonotypeCorsiva.woff') format('woff'),
        url('../fonts/MonotypeCorsiva.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic.woff') format('woff'),
        url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic-Bold.woff') format('woff'),
        url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/*******input, textarea*******/

textarea {
    resize: none;
    outline: none;
    -webkit-appearance: none;
    font-family: 'Arial', sans-serif;
}

input {
    outline: none;
    -webkit-appearance: none;
    font-family: 'Arial', sans-serif;
}

input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    background: none;
    display: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input:focus:-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input:focus:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

textarea:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

textarea:focus:-moz-placeholder {
    color: transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input::-webkit-input-placeholder {
    color: #BBA482;
}

input::-moz-placeholder {
    color: #BBA482;
}

input:-moz-placeholder {
    color: #BBA482;
}

input:-ms-input-placeholder {
    color: #BBA482;
}

textarea::-webkit-input-placeholder {
    color: #BBA482;
}

textarea::-moz-placeholder {
    color: #BBA482;
}

textarea:-moz-placeholder {
    color: #BBA482;
}

textarea:-ms-input-placeholder {
    color: #BBA482;
}


/********sait***********/

.container{
    width: 1170px;
    margin: 0 auto;
    min-width: 1170px;
    padding: 0 15px;
}

.wraper header,
.wraper footer,
.wraper > div {
    min-width: 1170px;
}

body {
    font-family: 'Arial', sans-serif;
    color: #000000;
    background: #fff;
}

.clear:after {
    content: '';
    clear: both;
    display: block;
}

.wraper > div > div:after {
    content: '';
    clear: both;
    display: block;
}

body.pushy-open-left {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/**********HEADER**********/

header {
   -webkit-box-shadow: inset 0px -5px 45px -15px rgba(0,0,0,0.55);
-moz-box-shadow: inset 0px -5px 45px -15px rgba(0,0,0,0.55);
box-shadow: inset 0px -5px 45px -15px rgba(0,0,0,0.55);
}
.header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
       -moz-box-pack: justify;  
        -ms-flex-pack: justify;  
            justify-content: space-between;
  
}
.head_nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 610px;
}
.head_nav li a {
    font-size: 13px;
    color: #DA9341;
    text-transform: uppercase;
      height: 45px;
    line-height: 45px;
}
.head_nav li a:hover {
    color: #000;
}
.head_nav li:after {
    position: absolute;
    content: '';
    background: #D9D8D8;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    top: 20px;
    right: -30px;
    z-index: 2;
}
.head_nav li:last-child:after {
    display: none;
}
.socials {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:  justify;
    -webkit-justify-content:  space-between;
       -moz-box-pack:  justify;
        -ms-flex-pack:  justify;
            justify-content:  space-between;
    width: 155px;
    height: 45px;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.socials a {
    width: 20px;
    height: 20px;
}
.socials a svg {
    width: 100%;
    height: 100%;
    fill: #DA9341;
}
.socials a:hover svg {
    fill: #000;
}

.mob_reg a {
    line-height: 45px;
}
.mob_reg span {
    line-height: 45px;
}

.header .registration {
    display: none;
}
/********TOP BLOCK********/

.top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:  justify;
    -webkit-justify-content:  space-between;
       -moz-box-pack:  justify;
        -ms-flex-pack:  justify;
            justify-content:  space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 23px 0;
}
.tel {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #DA9341;
    line-height: 26px;
}
.tel:hover {
    color: #000;
} 
.icons_wrap span {
    float: left;
    margin-right: 5px;
    width: 22px;
    height: 22px;
}
.icons_wrap span img {
    width: 100%;
    height: 100%;
}
.email {
    float: left;
    color: #DA9341;
    line-height: 22px;
}
.callback {
    display: inline-block;
    vertical-align: top;
    color: #C08A50;
    font-size: 13px;
    font-weight: 700;
     border-bottom: 1px dashed #DA9341;
}
.callback:hover {
    border-bottom: 1px dashed transparent;
}
.logo {
    font-size: 66px;
    color: #DA9341;
    font-family: 'Monotype Corsiva';
}
.logo:after {
    position: absolute;
    content: '';
    background: url(../img/logo_cap.png) no-repeat top center;
    -webkit-background-size: 31px 32px;
    -moz-background-size: 31px 32px;
      -o-background-size: 31px 32px;
         background-size: 31px 32px;
    width: 31px;
    height: 32px;
    right: -8px;
    top: 12px;
    z-index: 3;
}
.basket {
    padding-left: 45px;
}
.basket:after {
    position: absolute;
    content:'';
    background: url(../img/rectangular-shopping-bag.svg) no-repeat top center;
    -webkit-background-size: 25px 30px;
    -moz-background-size: 25px 30px;
      -o-background-size: 25px 30px;
         background-size: 25px 30px;
    width: 25px;
    height: 30px;
    left: 0;
    top: 5px;
    z-index: 1;
}
.basket a {
    font-size: 14px;
    color: #DA9341;
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px dashed #DA9341;
}
.basket a:hover {
    border-bottom: 1px dashed transparent;
}
.basket p {
    font-size: 13px;
    color: #DA9341;
    line-height: 20px;
}
.basket p span {
    display: inline-block;
    vertical-align: top;
    color: #DA9341;
    margin: 0 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    background: #D4A36B;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    left: 12px;
    top: 20px;
    z-index: 2;
}
.registration {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 13px;
    color: #DA9341;
    padding-left: 35px;
    line-height: 25px;
    background: url(../img/avatar-inside-a-circle.svg) no-repeat left center;
    -webkit-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
      -o-background-size: 25px 25px;
         background-size: 25px 25px;
}
.registration a {
    color: inherit;
}
.registration a:hover {
    color: #000;
}
.registration span {
    margin: 0 5px;
}

/********NAVBAR********/

.menu-btn {
    display: none;
}
.navbar {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 3px solid #C9BDA4;
    margin-bottom: 12px;
}
.navi {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 85%;
}
.navi li a {
    font-size: 14px;
    color: #DA9341;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
.navi li a:hover {
    color: #000;
}
.search {
    width: 20px;
    height: 20px;

}
.search svg {
    width: 100%;
    height: 100%;
    fill: #ae8e5e;
}


/***********TOP SLIDER**********/

.top_slider {
    height: 513px;
}
.top_slider .swiper-slide {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.slide_content {
    width: 555px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 140px;
}
.sale {
    text-align: center;
}
.sale > p {
    font-family: 'Century Gothic';
    font-size: 130px;
    font-weight: 700;
    line-height: 130px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.sale > span {
    font-size: 42px;
     font-family: 'Century Gothic';
     color: #fff;
     text-transform: uppercase;
     border-top: 2px solid #fff;
}
.sale_percent {
    font-size: 206px;
    line-height: 190px;
    font-family: 'Century Gothic';
    color: #fff;
}
.percent {
    font-size: 72px;
    color: #fff;
    position: absolute;
    right: 29px;
    top: 60px;
    z-index: 2;
    line-height: 70px;
}
.until {
    font-size: 30px;
    position: absolute;
    line-height: 30px;
    left: 15px;
    top: 40px;
    z-index: 2;
    text-transform: uppercase;
}
.top_slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  background: #fff;
  opacity: 1;
}
.top_slider .swiper-pagination-bullet-active {
  background: #007aff;
  width: 12px;
  height: 12px;
  background: transparent;
  border: 2px solid #D6A874;
}
.top_slider .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px auto;
    display: block;
}
/*********SEASONS*********/

.season_wrap {
    margin-top: 30px;
}
.season_items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.season_item {
    height: 307px;
    width: -webkit-calc((100% - 60px)/3);
    width: -moz-calc((100% - 60px)/3);
    width: calc((100% - 60px)/3);
    background: #FFE9BC;
    padding: 27px 33px;
    overflow: hidden;

}
.season_item:hover .season_border {
    border: 3px solid #A27F4A;
}
.season_border {
    border: 3px solid #fff;
    height: 100%;
        -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.season_border > p {
    font-family: 'Century Gothic';
    width: 165px;
    margin: 0 auto;
    background: #FFE9BC;
    text-align: center;
    color: #A27F4A;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: -10px;
}
.season_border > p:after {
    position: absolute;
    content:'';
    background: #A27F4A;
    width: 40px;
    height: 3px;
    left: 50%;
    margin-left: -20px;
    bottom: -10px;
    z-index: 3;
}
.season_img {
    margin-top: 7px;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*******GIFT*********/

.gift_wrap {
    margin-top: 30px;
}
.gift {
    height: 193px;
    background: #FFE9BC;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 60px;
}
.komb {
    width: 250px;
    text-align: center;
    color: #A27F4A;
    font-size: 28px;
    background: url(../img/barbaras.png) no-repeat center;
}
.gift_img {
    font-size: 0;
}
.gift_count {
    text-align: center;
}
.gift_count > p {
    font-size: 18px;
    color: #A27F4A;
    text-transform: uppercase;
    font-weight: 700;
}
.gift_count > span {
    font-size: 18px;
    color: #A27F4A;
    margin-bottom: 10px;
}
.gift_count > div {
    font-size: 13px;
    text-transform: uppercase;
    color: #A27F4A;
    margin-top: 5px;
}

/********BRANDS*******/

.brands_wrap {
    margin-top: 30px;
}
h2 {
    font-size: 26px;
    color: #A27F4A;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.brands_slider {
    padding: 0 60px;
}
.brands_slider .swiper-slide {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/********COLLECTION********/

.collection_wrap {
    margin-top: 30px;
}
.collection_slider {
    margin-top: 20px;
}
.col_desc {
    padding: 15px;
    text-align: center;
}
.col_desc > p {
    font-size: 14px;
    line-height: 17px;
    color: #DA9341;
    font-weight: 700;
}
.col_desc > span {
    font-size: 13px;
    line-height: 17px;
    color: #C08A50;
    display: block;
    margin-bottom: 20px;
}
.col_price {
    font-size: 24px;
    color: #A27F4A;
    line-height: 24px;
}
.col_price span {
    line-height: 24px;
    font-size: 13px;
    margin-left: 10px;
}
.col_sale {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2;
    width: 90px;
    height: 20px;
    line-height: 20px;
    background: #C08A50;
    color: #fff;
    font-size: 11px;
    text-align: center;
}
.col_img {
    width: 100%;
    font-size: 0;
}
.col_img img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.col_item {
    border: 1px solid transparent;
}
.col_item:hover {
    border: 1px solid #C08A50;
}


/************BENEFITS**********/

.benefits_wrap {
    margin-top: 20px;
}
.ben_items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ben_item > p {
    font-size: 18px;
    color: #A27F4A;
    text-align: center;
    margin-bottom: 10px;
}
.ben_item {
    width: -webkit-calc((100% - 90px)/4);
    width: -moz-calc((100% - 90px)/4);
    width: calc((100% - 90px)/4);
    text-align: center;
}
.ben_icon {
    width: 98px;
    height: 98px;
    background: #FFE9BC;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 10px;
}
.ben_item > span {
    font-size: 13px;
    color: #A27F4A;
    display: block;
    padding: 0 20px;
}

/**********ABOUT COMPANY********/

.about_comp_wrap {
    margin-top: 30px;
}
.about_comp h2 {
    margin-bottom: 20px;
}
.type_text > p {
    font-size: 13px;
    line-height: 18px;
    color: #A27F4A;
}


/*********FOOTER********/

footer {
    background: #FDEBC6;
    margin-top: 50px;
}
.footer {
    padding: 20px 0 25px;
}
.footer_top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
}
.foot_col > p {
    font-size: 13px;
    color: #A27F4A;
    font-weight: 700;
    margin-bottom: 10px;
}
.foot_col ul li a {
    font-size: 13px;
    color: #A27F4A;
    line-height: 20px;
}
.foot_col ul li a:hover {
    color: #000;
}
.foot_col .socials svg {
    fill: #D4A26A;
}
.footer_top .tel {
    color: #A27F4A;
}
.footer_top .tel:hover {
    color: #000;
}
.footer_top .email {
   color: #A27F4A; 
}
.copyright {
    font-size: 11px;
    line-height: 18px;
    color: #A27F4A;
}
.copyright span {
    font-size: 14px;
}
.fb_left > p {
    font-size: 11px;
    line-height: 18px;
    color: #A27F4A;
}
.pay_systems {
    width: 390px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.pay_systems a {
    height: 30px;
}
.pay_systems a img {
    max-height: 100%;
    width: auto;
}
.footer_bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}



/********NEWS PAGE********/


.breadcrumbs {
    margin-bottom: 10px;
}
.breadcrumbs a {
    font-size: 12px;
    color: #A27F4A;
    float: left;
    line-height: 18px;
    text-decoration: underline;
    margin-right: 10px;
}
.breadcrumbs span {
    font-size: 12px;
    color: #A27F4A;
    float: left;
    display: block;
    line-height: 18px;
    margin-right: 10px;
}
.news_img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.content h2 {
    text-align: left;
    margin-bottom: 20px;
}
.news_img img {
    max-width: 100%;
    height: auto;
}
.content {
    min-height: -webkit-calc(100vh - 45px - 120px - 47px - 265px);
    min-height: -moz-calc(100vh - 45px - 120px - 47px - 265px);
    min-height: calc(100vh - 45px - 120px - 47px - 265px);
}

/********MAP PAGE********/

.map {
    margin-top: 30px;
}
.map iframe {
    width: 100%;
    height: 460px;
    border: none;
}
.type_text > p > a {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    color: inherit;
    margin: 0 5px;
}
.codes > p {
    font-size: 13px;
    color: #A27F4A;
}


/**********BASKET PAGE**********/

.basket_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #F1F1F1;
}
.bask_titles {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40px;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 80px 0 20px;
    background: #F1F1F1;
    font-size: 13px;
    color: #A27F4A;
}
.bask_image {
    width: 98px;
    height: 94px;
    margin-right: 20px;
    float: left;
}
.bask_image img {
    width: 100%;
    height: auto;
}
.bask_prod {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.bask_name {
    float: left;
}
.title1 {
    width: 45%;
}


.number_s {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 130px;
    height: 36px;
    background: #F1F1F1;
}
.number_s input {
    width: -webkit-calc(100% - 56px);
    width: -moz-calc(100% - 56px);
    width: calc(100% - 56px);
    height: 26px;
    line-height: 26px;
    background: #fff;
    border: 1px solid #C08A50;
    text-align: center;
    font-size: 13px;
     color: #C08A50;
}
.number_s span {
    width: 28px;
    display: block;
    text-align: center;
    color: #C08A50;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
}
.bask_name > a {
    font-size: 14px;
    line-height: 17px;
    color: #DA9341;
    text-decoration: underline;
    margin-bottom: 5px;
}
.bask_name > p {
    font-size: 13px;
    line-height: 20px;
    color: #C08A50;
}
.bask_name > p span {
    font-weight: 700;
}
.basket_size {
    font-size: 14px;
    color: #C08A50;
    font-weight: 700;
}
.bask_cost {
    font-size: 24px;
    line-height: 24px;
    color: #A27F4A;
}
.bask_cost span {
    font-size: 13px;
    line-height: 24px;
}
.bask_remove {
    width: 20px;
    height: 20px;
    background: #C08A50;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor:pointer;
}
.bask_remove svg {
    width: 8px;
    height: 8px;
    fill: #fff;
}
.basket_total {
    border-top: 4px solid #F1F1F1;
    padding-top: 30px;
}
.basket_right {
    float: right;
    text-align: right;
}
.basket_right > p {
    font-size: 13px;
    color: #A27F4A;
    line-height: 24px;
    margin-bottom: 20px;
}
.basket_right > p span {
    font-size: 24px;
    margin: 0 3px;
}
.order_btn {
    width: 215px;
    border: 2px solid #D4A36B;
    color: #D4A36B;
    height: 37px;
    line-height: 37px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}
.order_btn:hover {
    background: #D4A36B;
    color: #fff;
}


/********ORDER PAGE********/

.order_page h2 {
    text-align: center;
}
.order_content {
    margin:  0 195px;
    border: 6px solid #F1F1F1;
}
.form_inputs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
}
.order_form {
    padding: 28px;
}
.form_col {
    width: -webkit-calc((100% - 30px)/2);
    width: -moz-calc((100% - 30px)/2);
    width: calc((100% - 30px)/2);
}
h3 {
    font-size: 18px;
    color: #A27F4A;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.input_style {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border: 1px solid #D9B895;
    padding-left: 10px;
    color: #A27F4A;
}
.form_input {
    margin-bottom: 15px;
}
.form_input > p {
    font-size: 15px;
    color: #A27F4A;
    margin-bottom: 7px;
}
.form_area > p {
     font-size: 15px;
    color: #A27F4A;
    margin-bottom: 7px;
}
.textarea_style {
    width: 100%;
    height: 75px;
    border: 1px solid #D9B895;
    padding: 10px;
}
.delivery_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #F1F1F1;
    padding-top: 6px;
}
.del_col {
    width: -webkit-calc((100% - 6px)/2);
    width: -moz-calc((100% - 6px)/2);
    width: calc((100% - 6px)/2);
    background: #fff;
    padding: 25px;
}
.radio_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
}
.radio_item:last-child {
    margin-bottom: 0;
}
.radio_item label {
    width: 60%;
     font-size: 13px;
    color: #A27F4A;
    line-height: 18px;
}
/*.radio_item label p {
   
}*/
.radio_item > span {
    width: 30%;
    font-size: 18px;
    line-height: 18px;
    color: #A27F4A;
    text-align: right;
}
.del_col h3 {
    text-align: left;
    margin-bottom: 15px;
}
.pay label {
    width: 90%;
}

.order_content .bask_prod {
    width: 35%;
}
.order_content .title1 {
    width: 34%;
}
.captcha_input {
    float: left;
}
.order_confirm {
    padding: 20px;
    border-top: 5px solid #F1F1F1;
}
.order_confirm .order_btn {
    float: right;
    margin-top: 21px;
}
.captcha_inp {
    width: 160px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #D9B895;
}
.captcha_input > p {
    font-size: 13px;
    color: #A27F4A;
    margin-bottom: 7px;
}
.captcha {
    float: left;
    margin-left: 20px;
    margin-top: 22px;
}
.refresh {
    float: left;
    width: 32px;
    height: 32px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 22px;
    margin-left: 10px;
}
.refresh img {
    width: 18px;
    height: 18px;
}

/*********CARD PAGE*********/

.card_content {
    margin-bottom: 50px;
}
.card_slider {
    width: 50%;
    height: 411px;
    float: left;
}
 .gallery-top {
      height: 100%;
      width: 80%;
      float: right;
}
.thumbs_wrap {
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 45px 0;
  float: left;
  width: 18%;
  overflow: hidden;
}
.gallery-thumbs .swiper-slide {
  width: 100%;
  height: auto;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.thumbs_wrap .swiper-button-next4 {
    top: 96%;
    right: 50%;
    margin-right: -12px;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
     background-image: url(../img/arrow-point-to-right.svg);
  -webkit-background-size: 40px 80px;
  -moz-background-size: 40px 80px;
    -o-background-size: 40px 80px;
       background-size: 40px 80px;
}
.thumbs_wrap .swiper-button-prev4 {
    top: 4%;
    left: 50%;
    margin-left: -12px;
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
     background-image: url(../img/last-track-left-arrow.svg);
  -webkit-background-size: 40px 80px;
  -moz-background-size: 40px 80px;
    -o-background-size: 40px 80px;
       background-size: 40px 80px;
}
.card_info {
    float: right;
    width: -webkit-calc(100% - 630px);
    width: -moz-calc(100% - 630px);
    width: calc(100% - 630px);
}
.card_info > p {
    font-size: 13px;
    line-height: 14px;
    color: #C08A50;
    margin-bottom: 10px;
}
.card_info > p  span {
    font-weight: 700;
}
.sizes {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #EDE7DB;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.size_value {
    height: 36px;
    line-height: 36px;
    border: 1px solid #E0E0E0;
    text-align: center;
    color: #C08A50;
    font-size: 14px;
    margin-bottom: 15px;
}
.size_value:last-child {
    margin-bottom: 0;
}
.size_num > p,
.prod_amount > p {
    font-size: 13px;
    color: #C08A50;
    text-align: center;
    margin-bottom: 15px;
}
.prod_amount .number_s {
    margin-bottom: 15px;
}
.prod_amount .number_s:last-child {
    margin-bottom: 0;
}
.to_basket_wrap p {
    font-size: 34px;
    line-height: 34px;
    color: #A27F4A;
}
.to_basket {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.to_basket_wrap p span {
    font-size: 15px;
}
.to_basket_btn {
    width: 165px;
    height: 44px;
    line-height: 44px;
    border: 2px solid #C08A50;
    color: #C08A50;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}
.to_basket_btn:hover {
    background: #C08A50;
    color: #fff;
}
.content .collection h2 {
    text-align: center;
}
.prod_price {
     font-size: 34px;
    line-height: 34px;
    color: #A27F4A;
}
.prod_price span {
    font-size: 15px;
}
/********CATALOG PAGE*********/

aside {
    width: 265px;
    float: left;
}
.catalog_content .content {
    float: right;
    width: -webkit-calc(100% - 295px);
    width: -moz-calc(100% - 295px);
    width: calc(100% - 295px);
}
.cat_img {
    width: 263px;
    float: left;
}
.cat_img img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.catalog_desc {
    width: -webkit-calc(100% - 263px);
    width: -moz-calc(100% - 263px);
    width: calc(100% - 263px);
    float: right;
    border: 1px solid #FFE9BC;
    padding: 30px 80px 33px 40px;
}
.catalog_desc .sizes {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.catalog_catalog .to_basket {
    -ms-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.cat_item {
    margin-bottom: 22px;
}
.catalog_pagination {
    text-align: center;
    margin-top: 50px;
}
.catalog_pagination > a {
    width: 26px;
    height: 29px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    vertical-align: top;
    line-height: 29px;
    text-align: center;
    color: #C39058;
}
.catalog_pagination > a:hover {
    border-color: #C39058;
}
.catalog_pagination > span {
     width: 26px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 1px solid #C39058;
    background: #C39058;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}
.arrow_box {
    position: relative;
    background: #C08A50;
}
.arrow_box:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(192, 138, 80, 0);
    border-bottom-color: #C08A50;
    border-width: 5px;
    margin-left: -5px;
}
.cat_title {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.filter_wrap {
    margin-top: 5px;
}
.filter_wrap a {
    font-size: 13px;
    color: #A27F4A;
    text-decoration: underline;
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 10px;
    line-height: 20px;
}
.filter_wrap p {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    font-size: 13px;
    color: #A27F4A;
}
.filter_wrap a:after {
    position: absolute;
    content:'';
    background: url(../img/sort-down.svg) no-repeat top center;
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
      -o-background-size: 6px 6px;
         background-size: 6px 6px;
    width: 6px;
    height: 6px;
    right: 8px;
    top: 7px;
    z-index: 2;
}
.filter_wrap a.active_filter {
    background: #F1F1F1;
    text-decoration: none;
}

.nav {
    background: #F1F1F1;
    border-top: 4px solid #D2BE95;
    padding: 20px;
}
.big_filter {
    background: #F1F1F1;
    padding: 18px;
    margin-top: 40px;
}
.filter_title {
    font-size: 15px;
    font-weight: 700;
    color: #A27F4A;
    margin-bottom: 10px;
}
.checkbox_group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 8px;
    border-bottom: 1px solid #FCD2A3;
    margin-bottom: 12px;
}
.checkbox_group:last-of-type {
    border-bottom: none;
}
.chek_item {
    width: 50%;
    margin-bottom: 8px;
}
.chek_item label {
    font-size: 13px;
    color: #A27F4A;
}
.search_submit {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background: #DA9341;
    border: none;
}
.search_submit:hover {
    background: #A27F4A;
}


@media (max-width: 1187px){
.container {
    width: 1063px;
    margin: 0 auto;
    min-width: 1063px;
    padding: 0 15px;
}
.wraper header,
.wraper footer,
.wraper > div {
    min-width: 1063px;
}
.top_slider {
    height: 470px;
}
.slide_content {
    margin-top: 110px;
}
.card_info {
    float: right;
    width: -webkit-calc(100% - 52%);
    width: -moz-calc(100% - 52%);
    width: calc(100% - 52%);
}
.catalog_desc {
    width: -webkit-calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: calc(100% - 240px);
    padding: 30px 30px 30px 30px;
}
.cat_img {
    width: 240px;
}
}



@media (max-width: 1080px){
.container {
    width: 963px;
    margin: 0 auto;
    min-width: 963px;
    padding: 0 15px;
}
.wraper header,
.wraper footer,
.wraper > div {
    min-width:963px;
}
.top {
    padding: 80px 0 20px 0;
}
.logo {
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -117px;
   z-index: 2;
}
.top_slider {
    height: 410px;
}
.sale > p {
    font-size: 120px;
    line-height: 120px;
}
.sale > span {
    font-size: 37px;
}
.sale_percent {
    font-size: 186px;
    line-height: 173px;
}
.until {
    font-size: 26px;
}
.percent {
    font-size: 67px;
    right: 26px;
    top: 54px;
}
.slide_content {
    width: 510px;
}
.gift {
    padding: 0 30px;
}
.news_img {
    float: none;
    margin: 0;
    margin-bottom: 20px;
}
.cat_img {
    width: 200px;
}
.catalog_desc {
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: calc(100% - 200px);
    padding: 20px;
}
.order_content {
    margin: 0 120px;
}

}

@media (max-width: 980px){
.container {
    width: 850px;
    margin: 0 auto;
    min-width: 850px;
    padding: 0 15px;
}
.wraper header,
.wraper footer,
.wraper > div {
    min-width:850px;
}
.navi {
    width: 90%;
}
.top_slider {
    height: 380px;
}
.season_item {
    height: 253px;
    padding: 20px;
}
.season_img img {
    border: none;
    width: 71%;
    height: auto;
}
.season_border > p {
    width: 135px;
    font-size: 24px;
}
.gift_img {
    display: none;
}
.gift {
    padding: 0 60px;
    height: 170px;
}
.ben_items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.ben_item {
    width: 50%;
    margin-bottom: 20px;
}
.ben_item > span {
    padding: 0 40px;
}
aside {
    width: 220px;
    float: left;
}
.nav {
    padding: 10px;
}
.catalog_content .content {
    float: right;
    width: -webkit-calc(100% - 235px);
    width: -moz-calc(100% - 235px);
    width: calc(100% - 235px);
}
.cat_title {
    display: block;
}
.filter_wrap {
    margin-bottom: 15px;
}
.cat_item .number_s {
    width: 85px;
}
.cat_item .to_basket_btn {
    width: 125px;
    text-align: center;
}
.cat_item .to_basket_wrap p {
    font-size: 24px;
    line-height: 24px;
}
.order_content {
    margin: 0 50px;
}

}

@media (max-width: 867px){
.container {
    width: 751px;
    margin: 0 auto;
    min-width: 751px;
    padding: 0 10px;
}
.wraper header,
.wraper footer,
.wraper > div {
    min-width:751px;
}
.head_nav {
    width: 500px;
}
.head_nav li:after {
    right: -18px;
}
.tel {
    font-size: 17px;
}
.menu-btn {
    display: block;
    width: 100px;
    height: 30px;
    padding-left: 30px;
    background: url(../img/menu.svg) no-repeat left center;
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
      -o-background-size: 30px 30px;
         background-size: 30px 30px;
    color: #D4A36B;
    font-size: 17px;
    line-height: 30px;
}
.navi {
    display: none;
}
.search {
    margin-top: 5px;
}
.top_slider {
    height: 330px;
}
.sale > p {
    font-size: 110px;
    line-height: 110px;
}
.sale > span {
    font-size: 35px;
}
.sale_percent {
    font-size: 171px;
    line-height: 158px;
}
.until {
    font-size: 23px;
}
.percent {
    font-size: 62px;
    right: 22px;
    top: 54px;
    line-height: 62px;
}
.slide_content {
    width: 460px;
}
.season_item {
    height: 223px;
    padding: 20px;
}
.footer_top .tel_block {
    display: none;
}
.card_slider {
    height: 340px;
    width: 48%;
}
.card_info {
    float: right;
    width: -webkit-calc(100% - 50%);
    width: -moz-calc(100% - 50%);
    width: calc(100% - 50%);
}
.card_info .number_s {
    width: 100px;
}
.map iframe {
    height: 350px;
}
.cat_img {
    width: 200px;
    float: none;
}
.catalog_desc {
    width: 100%;
    padding: 20px;
    float: none;
}
.order_content {
    margin: 0;
}


}

@media (max-width: 768px){
.container {
    width: 650px;
    margin: 0 auto;
    min-width: 650px;
    padding: 0 10px;
}
.wraper header,
.wraper footer,
.wraper > div {
    min-width:650px;
}
.head_nav {
    display: none;
}
.list2 {
    margin-top: 15px;
}
.pushy a {
    padding: 7px 20px;
}
.top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.registration {
    display: none;
}
.header .registration {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.top_slider {
    height: 300px;
}
.sale > p {
    font-size: 90px;
    line-height: 90px;
}
.sale > span {
    font-size: 29px;
}
.sale_percent {
    font-size: 144px;
    line-height: 133px;
}
.slide_content {
    width: 380px;
}
.until {
    left: 10px;
    top: 30px;
}
.percent {
    font-size: 56px;
    right: 18px;
    top: 37px;
    line-height: 56px;
}
.season_item {
    height: 190px;
    padding: 20px;
}
.season_border > p {
    width: 105px;
    font-size: 22px;
}
.gift {
    padding: 0 20px;
    height: 170px;
}
.footer_bottom {
    display: block;
}
.pay_systems {
    margin: 15px auto 0;
}
.season_border > p:after {
    bottom: -5px;
}
.title1 {
    width: 41%;
}
.bask_cost {
    font-size: 21px;
    line-height: 21px;
}
.basket_item .number_s {
    width: 100px;
}
.basket_right > p span {
    font-size: 21px;
}
.basket_item {
    padding: 10px 15px;
}
.card_slider {
    height: 300px;
    width: 340px;
    float: none;
}
.card_info {
    float: none;
    width: 100%;
    margin-top: 30px;
}
.cat_img {
    width: 100%;
}
.order_content .title1 {
    width: 40%;
}
}


@media (max-width: 667px){
.container {
    width: 100%;
    margin: 0 auto;
    min-width: 463px;
    padding: 0 10px;
}
.wraper header,
.wraper footer,
.wraper > div {
    min-width:463px;
}
.basket {
    padding-left: 45px;
    width: 100%;
    margin-top: 15px;
}
.season_item {
    height: 180px;
    padding: 10px;
}
.season_border > p {
    width: 85px;
    font-size: 19px;
}
.gift {
    padding: 15px 20px;
    height: auto;
    display: block;
}
.komb {
    margin: 0 auto;
}
.gift_count {
    margin-top: 20px;
}
.footer_top {
    display: block;
}
.foot_col {
    text-align: center;
}
.foot_col .socials {
    margin: 0 auto;
}
.fb_left {
    text-align: center;
}
.basket_content {
    width: 630px;
}
.basket_scroll {
    overflow: auto;
}
aside {
    width: 100%;
    float: none;
}
.catalog_content .content {
    float: none;
    width: 100%;
    margin-top: 30px;
}
.order_content .basket_content {
    width: 610px;
}
.form_inputs {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.form_col {
    width: 100%;
}
.delivery_block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.del_col {
    width: 100%;
    padding: 25px;
}
}



@media (max-width: 480px){
.container {
    width: 100%;
    margin: 0 auto;
    min-width: 290px;
    padding: 0 10px;
}
.wraper header,
.wraper footer,
.wraper > div {
    min-width:300px;
}
.header .socials {
    width: 110px;
}
.header .socials a {
    width: 16px;
    height: 16px;
}
.logo {
    font-size: 60px;
    margin-left: -107px;
}
.tel_block {
    width: 50%;
    margin-bottom: 15px;
}
.tel {
    font-size: 15px;
}
.icons_wrap span {
    margin-right: 3px;
    width: 22px;
    height: 22px;
}
.email {
    font-size: 13px;
}
.basket {
    margin-top: 0;
}
.sale > p {
    font-size: 50px;
    line-height: 50px;
}
.sale > span {
    font-size: 18px;
}
.sale_percent {
    font-size: 80px;
    line-height: 75px;
}
.slide_content {
    width: 230px;
    margin-top: 30px;
}
.percent {
    font-size: 31px;
    right: 9px;
    top: 26px;
    line-height: 31px;
}
.until {
    left: 4px;
    top: 10px;
    font-size: 13px;
}
.top_slider {
    height: 250px;
}
.pay_systems {
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.season_items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.season_item {
    height: 200px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.season_img img {
    border: none;
    width: auto;
    height: 80%;
}
.gift {
    padding: 10px;
}
h2 {
    font-size: 20px;
}

.collection h2 {
    text-align: left;
}
.ben_item {
    width: 100%;
    margin-bottom: 20px;
}
.card_slider {
    width: 280px;
}
.prod_price {
    font-size: 24px;
    line-height: 24px;
}
.number_s span {
    width: 17px;
}
.number_s input {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
}
.to_basket_btn {
    width: 110px;
}
.card_info .number_s {
    width: 75px;
}
.collection h2 {
    text-align: left !important;
}
.filter_wrap p {
    display: block;
}
.filter_wrap a {
    margin-left: 0;
}
.catalog_desc {
    padding: 5px;
}
.cat_item .to_basket_btn {
    width: 100px;
}
.cat_item .number_s {
    width: 75px;
}
.cat_item .to_basket_wrap p {
    font-size: 22px;
    line-height: 22px;
}
.order_form {
    padding: 20px 10px;
}
.del_col {
    width: 100%;
    padding: 20px 10px;
}
}